<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRNA - TestTask</title>
    <link rel="stylesheet" href="../css/main.min.css">

</head>

<body>

    <header>
        <div class="wrapper">
            <div class="top-bar">
                <div class="main-logo">
                    <img src="../img/virna-logo.svg" alt="main-logo">
                </div>
                <div class="studio-logo">
                    <img src="../img/studio-logo.svg" alt="studio-logo">
                </div>
            </div>

        </div>
    </header>